<div id="sales-container" style="width:100%; height:400px;"></div>
<div id="fruits-container" style="width:100%; height:400px;"></div>
<div id="stocks-container" style="width:100%; height:400px;"></div>
<div id="temp-container" style="width:100%; height:400px;"></div>
