<div class="container">
  <svg height="300" width="375" class="item-lower-left">
    <polygon id="1" points="75,80 100,400 50,400" class="triangle-black" />
    <polygon id="2" points="125,80 100,400 150,400" class="triangle-white" />
    <polygon id="3" points="175,80 150,400 200,400" class="triangle-black" />
    <polygon id="4" points="225,80 200,400 250,400" class="triangle-white" />
    <polygon id="5" points="275,80 250,400 300,400" class="triangle-black" />
    <polygon id="6" points="325,80 300,400 350,400" class="triangle-white" />
  </svg>
  <svg height="300" width="375" class="item-lower-right">
    <polygon id="7" points="75,80 50,400 100,400" class="triangle-black" />
    <polygon id="8" points="125,80 100,400 150,400" class="triangle-white" />
    <polygon id="9" points="175,80 150,400 200,400" class="triangle-black" />
    <polygon id="10" points="225,80 200,400 250,400" class="triangle-white" />
    <polygon id="11" points="275,80 250,400 300,400" class="triangle-black" />
    <polygon id="12" points="325,80 300,400 350,400" class="triangle-white" />
  </svg>
  <svg height="300" width="375" class="item-upper-left">
    <polygon id="7" points="75,240 50,15 100,15" class="triangle-white" />
    <polygon id="8" points="125,240 100,15 150,15" class="triangle-black" />
    <polygon id="9" points="175,240 150,15 200,15" class="triangle-white" />
    <polygon id="10" points="225,240 200,15 250,15" class="triangle-black" />
    <polygon id="11" points="275,240 250,15 300,15" class="triangle-white" />
    <polygon id="12" points="325,240 300,15 350,15" class="triangle-black" />
  </svg>
  <svg height="300" width="375" class="item-upper-right">
    <polygon id="7" points="75,240 50,15 100,15" class="triangle-white" />
    <polygon id="8" points="125,240 100,15 150,15" class="triangle-black" />
    <polygon id="9" points="175,240 150,15 200,15" class="triangle-white" />
    <polygon id="10" points="225,240 200,15 250,15" class="triangle-black" />
    <polygon id="11" points="275,240 250,15 300,15" class="triangle-white" />
    <polygon id="12" points="325,240 300,15 350,15" class="triangle-black" />
  </svg>
  <svg height="900" width="700">
    <rect x="375" y="46" width="50" height="585" rx="5" class="board-bar" />
  </svg>
</div>
