/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  border: 1px solid gray;
}

.board-bar {
  fill: rgb(111, 113, 111);
}

.triangle-black {
  fill: rgb(155, 153, 153);
  stroke: rgb(68, 67, 54);
  stroke-width: 2;
  transition: all 0.8s ease-in-out;
}

.triangle-white {
  fill: rgb(246, 248, 234);
  stroke: rgb(68, 67, 54);
  stroke-width: 2;
  transition: all 0.8s ease-in-out;
}

.token-black {
  height: 50px;
  width: 50px;
  background-color: rgb(11, 11, 11);
  border-radius: 50%;
  display: inline-block;
  z-index: 10;
}

.token-white {
  border: 1px solid black;
  height: 48px;
  width: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.lower-left {
  border: 1px dashed red;
  height: 600px;
}